.subscription-plan-options-wrapper {
  @include divider-bottom-bleak;

  display: flex;
  gap: 1.5rem;

  padding: .75rem 0 1.25rem;

  @media screen and (max-width: $mobile-breakpoint) {
    flex-wrap: wrap;
  }
}