.v-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;

  max-width: 100%;
  flex-shrink: 1;

  border-radius: $border-radius-small;

  color: $primary-s-500;
  font-family: $ff-display;
  font-weight: $fw-medium;

  white-space: nowrap;

  transition-duration: 200ms;

  &:focus {
    text-decoration: none;
  }

  &--loading, &:not(button):not(a[href]) {
    &:deep(.v-icon) {
      display: none;
    }

    cursor: default;
  }

  &--small {
    @include text-medium;

    padding: .5rem 2rem;
  }

  &--medium {
    @include text-large;

    padding: .75rem 2rem;
  }

  &--large {
    @include text-h4;
    
    padding: .75rem 3rem;
  }

  &--primary {
    background: $primary-s-500;
    color: $black-10;
    border: 2px solid transparent;

    &:deep(i) {
      color: $accent-500;
    }

    &:hover {
      background-color: $primary-s-600;
    }

    &:focus {
      border: 2px solid $black-10;
      box-shadow: 0 0 0 2px $primary-s-500;
    }

    &:disabled, &:not(button):not(a[href]) {
      background: $primary-s-300;
      color: $primary-ds-200;

      .v-loader {
        --border-color: #{$primary-ds-200};
      }
    }
  }

  &--primary-accent {
    background: $accent-500;
    color: $primary-ds-800;
    border: 2px solid transparent;
    font-weight: $fw-semi-bold;

    &:deep(i) {
      color: $primary-s-500;
    }

    &:hover {
      background-color: $accent-700;
    }

    &:focus {
      border: 2px solid $primary-ds-800;
      box-shadow: 0 0 0 2px $accent-500;
    }

    &:disabled, &:not(a[href]) {
      background: $accent-300;
      color: $black-500;

      .v-loader {
        --border-color: #{$black-500};
      }
    }
  }

  &--secondary {
    background: $black-10;
    color: $primary-ds-600;

    border: 2px solid $primary-ds-100;

    &:hover {
      color: $primary-s-500;
      background-color: $primary-ds-50;
    }

    &:focus {
      border-color: $primary-s-200;
    }

    &:disabled, &:not(button):not(a[href]) {
      background: $black-10;
      color: $primary-ds-200;

      .v-loader {
        --border-color: #{$primary-ds-200};
      }
    }
  }

  &--transparent {
    padding: .25rem;
    margin: 0 -.25rem;
    justify-content: left;

    &:hover:not(:disabled) {
      color: $primary-s-600;
      background: $primary-s-50;
    }

    &:focus:not(:disabled) {
      :deep(span) {
        text-decoration: underline;
        text-decoration-color: $primary-s-200;
        text-underline-offset: 2px;
      }
    }

    &:disabled, &:not(button):not(a[href]) {
      color: $primary-ds-400;

      .v-loader {
        --border-color: #{$primary-ds-400};
      }
    }
  }

  &--transparent-accent {
    padding: 0;
    justify-content: left;

    color: $accent-500;

    &:disabled, &:not(button):not(a[href]) {
      color: $accent-300;

      .v-loader {
        --border-color: #{$accent-300};
      }
    }
  }

  &--bleak {
    color: $primary-ds-300;
  }
}