.v-input {
  display: flex;
  position: relative;

  &__icon {
    position: absolute;
    left: 0;

    height: 100%;
    padding: 0 .5rem;

    display: flex;
    align-items: center;

    color: $primary-s-200;
  }
  
  &.fluid {
    flex: 1;
  }

  &--has-icon {
    input {
      padding-left: 2em;
    }
  }

  &--error {
    input {
      border-color: $red-600;
    }
  }
}

input {
  width: 100%;

  padding: .5rem .75rem;
  color: $primary-ds-800;

  background: $black-10;
  border: 1px solid $primary-ds-100;
  border-radius: $border-radius-small;

  &:focus {
    box-shadow: 0 0 0 1px $primary-s-100;
  }

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $primary-s-100;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $primary-s-100;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $primary-s-100;
  }

  &:disabled {
    background: $primary-ds-50;
    cursor: not-allowed;
  }
}