.v-popup {
  background: $black-10;
  border-radius: $border-radius-small;
  padding: .5rem;

  &__close {
    @include text-large;
    
    position: absolute;
    right: 12px;
    top: 12px;
    
    color: $primary-ds-300;

    cursor: pointer;
  }
}