.filters-list {
  @include divider-top-bleak;

  padding-top: .5rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  grid-column-gap: 0px;
  grid-row-gap: .5rem;

  &>* {
    @include divider-bottom-bleak;

    padding-bottom: .5rem;
    padding-right: .75rem;
  }

  :nth-child(3), :nth-child(6), :nth-child(8) {
    grid-column: 1;
  }
}