.faq-question {
  @include divider-bottom;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-block: 1.5rem;

  font-size: $fs-medium;
  line-height: $lh-body;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    font-size: $fs-h4;

    h4 {
      cursor: pointer;
    }
  }

  .v-chevron--active {
    animation: 1s tap;
    animation-fill-mode: forwards;

    color: $accent-900;
  }
}

@keyframes tap {
  0% {
    background: transparent;
  }
  30% {
    background: $primary-s-50;
  }
  100% {
    background: transparent;
  }
}