.faq-question {
  @include divider-bottom;
  @include flex-column;
  @include text-medium;

  gap: 1rem;

  padding-block: 1.5rem;
  line-height: $lh-body;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h3 {
      cursor: pointer;
    }
  }

  .v-chevron {
    @include text-large;

    &--active {
      animation: 1s tap;
      animation-fill-mode: forwards;
  
      color: $accent-900;
    }
  }
}

@keyframes tap {
  0% {
    background: transparent;
  }
  30% {
    background: $primary-s-50;
  }
  100% {
    background: transparent;
  }
}