.faq-section {
  position: relative;
  max-width: 54rem;
  margin: auto;

  .landing-page-section__header {
    @include divider-bottom;

    padding-bottom: 3rem;
  }

  &__footer {
    margin-top: 2rem;

  }
}