.meta1-content-wrapper {
  display: flex;
  
  .meta1-block {
    @include text-medium;

    max-width: 9rem;
    padding-right: 1rem;
    margin-right: 1rem;

    font-family: $ff-display;

    &:not(:last-child) {
      border-right: 1px solid $primary-ds-100;
    }

    div {
      text-align: center;
    }

    &__header {
      @include text-h1;

      color: $primary-s-600;
    }

    &__body {
      @include text-medium;

      color: $primary-ds-600;
    }
  }
}

.meta2-content-wrapper {
  position: relative;
  display: flex;
  
  .meta2-benefits *, .meta2-benefits-path * {
    stroke: $primary-s-200;
    stroke-width: 4px;
  }

  &>svg {
    height: 100%;
    position: absolute;
  }

  .meta2-benefits {
    display: grid;
    gap: .5rem;

    font-family: $ff-display;
    font-size: $fs-h4;
    font-weight: $fw-medium;
    color: $primary-s-500;
    line-height: 1.5;

    li {
      display: flex;
      align-items: center;
      gap: .5rem;

      svg {
        fill: $black-10;
        z-index: 3;
        flex-shrink: 0;
      }
    }
  }

  .meta2-watermark-path {
    position: absolute;
    right: 200px;
  }
}

.meta3-content-wrapper {
  @include text-large;

  color: $primary-s-400;
  font-family: $ff-display;

  .v-icon {
    line-height: $lh-large;
    color: $primary-s-600;
  }

  b {
    font-weight: $fw-medium;
    color: $primary-s-500;
  }

  li {
    display: flex;
    gap: .5rem;
    align-items: flex-start;

    margin-bottom: .5rem;
  }
}

span.meta1-block__body {
  color: $primary-ds-600;
  font-size: $fs-xxs;
}