.footer {
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 54rem;
  color: $black-10;
  gap: 2rem;

  &__header {
    span {
      @include text-large;
      font-weight: $fw-medium;
    }
  }

  &__lead-input {
    @include divider-bottom-dark;
    display: flex;
    gap: .5rem;
    padding-bottom: 4rem;

    font-size: $fs-large;

    .v-input {
      flex: 1;
    }
  }

  &__navigation {
    @include divider-bottom-dark;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 2rem;

    &__column {
      h4 {
        color: $black-100;
        margin-bottom: 2rem;

        text-transform: uppercase;
      }

      ul {
        display: grid;
        gap: .5rem;
      }
    }

    &__item {
      &--bleak {
        color: $primary-ds-100;
      }
    }

    li {
      display: flex;
      gap: .375rem;
      font-weight: $fw-medium;
      line-height: $lh-body;

      a {
        display: flex;
        gap: .375rem;

        transition: color 200ms ease;

        &:hover {
          color: $primary-s-100;
        }
      }
    }

    li .v-icon{
      color: $primary-s-300 !important;
    }
  }

  &__footer {
    @include text-xs;

    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $black-100;
    font-weight: $fw-regular;
  }

  &__socials {
    @include text-h4;

    padding: .5rem 1.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    background: $black-10;
    border-radius: 20px;
  }

  &__socials .v-icon-button {
    color: $primary-s-500;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .footer__lead-input {
    flex-direction: column;
  }

  .footer__navigation {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 0;
  }
}