.testimonials-wrapper {
  @include flex-column;
  gap: 4rem;

  width: 100%;
}

@media screen and (max-width: $laptop-breakpoint) {
  .testimonial__meta--city {
    display: none;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .testimonials-wrapper {
    padding: 0 1rem;
    align-items: center;
  }
}