.dashboards-wrapper {
  @include flex-column;

  width: 100%;
  min-height: 72rem;
  max-height: 85vh;

  flex-wrap: wrap;
  gap: 2rem;

  @media screen and (max-width: $laptop-breakpoint) {
    flex-wrap: nowrap;
    height: unset;
    min-height: unset;
    max-height: unset;
  }
}

.dashboard {
  width: calc(50% - 1rem);
  box-shadow: 0 4px 4px 0 rgba($primary-ds-900, .1);
  border-radius: $border-radius-large;
  padding: 1.5rem;
  background: white;

  &__chart {
    height: 400px;
  }

  h3 {
    @include text-h4;
    
    font-weight: $fw-regular;
  }

  &--dark {
    color: $black-10;
  }

  &:nth-child(1) {
    background: $primary-ds-600;
  }
  
  &:nth-child(2) {
    padding-right: 3.5rem;
  }

  @media screen and (max-width: $laptop-breakpoint) {
    width: 100%;
  }
}

.profits-chart {
  &__meta {
    @include text-xs;

    display: grid;
    column-gap: .25rem;
    grid-template-columns: repeat(4, auto);

    font-weight: $fw-medium;
    
    div {
      padding-block: .25rem;

      &:nth-child(2n) {
        color: $accent-500;
        margin-right: .75rem;
        padding-right: .5rem;

        font-weight: $fw-semi-bold;
      }

      &:nth-child(4n-2) {
        border-right: 1px solid $primary-ds-500;
      }
    }
  }
}
.stats-table {
  padding-block: 1.25rem;
  color: $primary-ds-700;

  overflow-x: auto;

  table {
    td, th {
      padding: .5rem;

      background: white;
    }

    th {
      font-weight: $fw-semi-bold;
      color: $primary-s-700;
    }

    td {
      font-weight: $fw-medium;
      vertical-align: top;
      position: relative;

      white-space: pre-wrap;
    }

    :where(td, th):not(:nth-child(n+3)) {
      position: sticky;
      left: 0px;
      z-index: 1000;
    }

    td:nth-child(2) {
      font-size: $fs-xxs;
      line-height: 1rem;
    }
    
    td:nth-child(2n+4) {
      text-align: right;
      border-left: 1px solid $primary-ds-100;
    }

    td:not(:nth-child(2n+3)) {
      padding-right: 1.5rem;
    }
  }

  &__cell {
    &--bleak {
      color: $primary-ds-300;
    }

    &--favorite::after, &--opponent::after {
      display: block;

      border-radius: 50%;
      width: 24px;
      height: 24px;

      color: $primary-ds-900;
      text-align: center;
      font-size: $fs-xxs;
      font-weight: $fw-semi-bold;
      line-height: 24px;
    }

    &--favorite:after {
      content: 'F';
      background: $green-100;
    }

    &--opponent:after {
      content: 'O';
      background: $red-100;
    }
  }
}

.upsets-section {
  @include flex-column;
  
  .upsets-stat {
    display: grid;
    grid-auto-flow: column;
    padding-block: .75rem;

    &:first-of-type {
      @include divider-bottom-bleak;

      margin-top: .75rem;
    }

    &__header {
      @include text-large;
      font-weight: $fw-medium;
      color: $primary-s-700;

      padding-bottom: .75rem;
    }

    &__meta {
      @include text-xxs;
      
      color: $primary-s-100;
    }

    &__teams {
      display: flex;
      gap: .25rem;

      color: $primary-s-500;
      font-weight: $fw-semi-bold;

      span:nth-child(2) {
        color: $primary-s-200;
      }
    }

    &__coeff {
      grid-row: 2/4;
      color: $accent-900;
      font-weight: $fw-bold;

      display: flex;
      align-items: flex-end;
      width: 100%;
      justify-content: flex-end;
    }
  }
}