.navigation-pages {
  width: 100%;
  height: 100%;

  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: flex-start;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .25rem;

    color: $black-10;
    font-weight: $fw-semi-bold;
    font-family: $ff-display;
    transition: background-color 200ms ease-out;

    cursor: pointer;

    text-decoration: none;
    padding: 0 32px;
    height: 100%;
  }
}
.navigation-pages.desktop {
  .router-link-active {
    box-shadow: inset 0 -4px 0 $accent-500;
    background: $overlay-white-40;
  } 

  .v-icon {
    display: none;
  }

  a:hover {
    background: $overlay-white-40;
  }
}

.navigation-pages:not(.desktop) {
  a {
    justify-content: center;
    flex-basis: 100%;
    font-size: .8em;
  }

  .router-link-active {
    color: $accent-500;
  } 

  .v-icon {
    display: flex;

    font-size: $fs-h4;
  }
}

@media (max-width: $tablet-breakpoint) {
  .navigation-pages {
    a {
      padding: 0 $container-horizontal-padding-mobile;
    }
  }
}