.navigation-bar {
  position: fixed;
  top: 0px;
  height: $navbar-height;
  width: 100%;
  z-index: 9000;

  box-shadow: 0 4px 3px 0 rgba($primary-ds-900, .15), 0 0 0 1px rgba($black-10, .25);

  &__items {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    flex: 1;
    align-items: stretch;

    &__item {
      padding: 0 $container-horizontal-padding-tablet;

      color: $black-10;
      font-weight: $fw-semi-bold;
      font-family: $ff-display;
      transition: background-color 200ms ease-out;

      cursor: pointer;

      display: flex;
      align-items: center;

      &.active {
        box-shadow: inset 0 -4px 0 $accent-500;
        background: $overlay-white-40;
      } 

      a {
        text-decoration: none;
      }
    }
  }

  &__item:hover {
    background: $overlay-white-40;
  }


  &__right {
    display: flex;
    align-items: center;

    color: $accent-500;
    font-size: $fs-medium;
    line-height: $lh-medium;

    gap: 16px;

    span {
      white-space: nowrap;
      font-size: 0.875em;
    }
  }
}

.logo-wrapper {
  font-family: $ff-logo;
  font-size: $fs-h4;
  color: $primary-ds-100;
  cursor: pointer;

  display: flex;
  align-items: center;

  margin-right: clamp(2.2vw, $container-horizontal-padding-desktop, 4.4vw);

  img {
      max-inline-size: none;
  }

}

.test-button {
  padding: .5em 2em;
  background-color: $accent-500;
  border-radius: $border-radius-small;

  color: $primary-ds-800;
  font-weight: $fw-semi-bold;
}

@media (max-width: $tablet-breakpoint) {
  .logo-wrapper {
    margin-right: 0;

    span {
        display: none;
    }
  }
}

.user-plan-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .25rem;

  font-family: $ff-display;
  color: $black-10;
  font-weight: $fw-semi-bold;
  font-size: $fs-xs;
  line-height: $lh-small;

  &__days-left {
    font-weight: $fw-regular;
    font-size: $fs-xxs;
  }
}

.navbar-square-button {
  width: 2.5rem;
  height: 2.5rem;
  background: $overlay-white-80;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &.notifications-button {
    position: relative;
    font-size: $fs-h4;
    color: $black-500;

    cursor: default;

    .notifications-count {
      color: $primary-ds-800;
      font-size: .625rem;
      line-height: 1rem;
      font-weight: $fw-medium;
      text-align: center;

      width: 1.5rem;
      height: 1rem;
      background: $accent-300;
      position: absolute;
      right: -8px;
      top: calc(-1rem + 8px);

      border-radius: $border-radius-medium;
    }

    &--active {
      color: $accent-500;
      cursor: pointer;
    }
  }

  &.profile-button {
    border: 1px solid $primary-ds-100;

    overflow: hidden;
  }
}