@import './blog-post-tag.scss';

.blog-post-preview {
  @include flex-column;

  background: white;

  min-height: 100px;
  border: 1px solid $primary-ds-100;
  border-radius: $border-radius-large;

  overflow: hidden;

  &:not(:nth-child(n+4)) {
    grid-column: span 2;

    img, .blog-post-preview__image .animated-placeholder {
      height: 25vh;
    }

    @media screen and (max-width: $laptop-breakpoint) {
      grid-column: span 3;

      img, .blog-post-preview__image .animated-placeholder {
        height: 10vh;
      }
    } 
  }

  &:nth-child(n+4) {
    p {
      display: none;
    }

    .blog-post-preview__title {
      font-size: .8em;
    }

    span:last-child::before {
      display: none !important;
    }
  }

  @media screen and (max-width: $laptop-breakpoint) {
    &:not(:nth-child(n+3)) {
      grid-column: span 3;

      img, .blog-post-preview__image .animated-placeholder {
        height: 20vh;
      }
    }

    &:nth-child(n+3) {
      grid-column: span 2;

      img, .blog-post-preview__image .animated-placeholder {
        height: 10vh;
      }

      p {
        display: none;
      }

      .blog-post-preview__title {
        font-size: .8em;
      }

      span:last-child::before {
        display: none !important;
      }
    }
  } 

  @media screen and (max-width: $mobile-breakpoint) {
    &:not(:nth-child(n+2)) {
      grid-column: span 6;

      img, .blog-post-preview__image .animated-placeholder {
        height: 35vh;
      }
    }

    &:nth-child(n+2) {
      grid-column: span 3;

      img, .blog-post-preview__image .animated-placeholder {
        height: 15vh;
      }

      p {
        display: none;
      }

      .blog-post-preview__title {
        font-size: .8em;
      }

      span:last-child::before {
        display: none !important;
      }
    }
  } 

  &__image {
    position: relative;

    img, .blog-post-preview__image .animated-placeholder {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__tags {
    position: absolute;
    bottom: 8px;
    left: 8px;

    display: flex;
    gap: .25rem;

    .blog-post__tag {
      @include text-xxs;
  
      padding: .25rem 1rem;
  
      border-radius: 20px;
  
      font-family: $ff-display;
      font-weight: $fw-semi-bold;
    }
  }

  &__body {
    @include flex-column;
    @include text-large;

    gap: .75rem;
    flex: 1;

    padding: 1rem;

    .blog-post-preview__title {
      line-height: 1.4;
    }

    p {
      font-size: $fs-xs;
      line-height: $lh-body;
    }

  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    cursor: pointer;
  }

  &__footer {
    @include text-xxs;

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-end;

    margin-top: auto;

    span:first-child {
      margin-right: .5rem;
    }

    span:last-child {
      color: $primary-ds-500;
    }

    span:last-child::before {
      content: '\2022';
      margin-right: .5rem;
    }
  }
}