.v-multiselect {
  width: 100%;

  &__selected-options {
    display: flex;
    gap: .25rem;

    .v-icon {
      color: $primary-ds-300;
    }
  }

  &__placeholder {
    padding: 0.5rem;
    line-height: $lh-medium;
  }
}