.v-select__option {
  display: flex;
  gap: .5rem;

  font-weight: $fw-medium;
  line-height: $lh-medium;

  padding: .5rem;
  cursor: pointer;

  &:hover, &:focus {
    background: $primary-ds-50;
  }

  &:focus {
    color: $primary-s-600;
  }

  &--selected {
    background: $primary-ds-100 !important;
  }
}