.profile-popup {
  padding: .5rem;
  color: $primary-ds-800;
  min-width: 16rem;
  max-width: 18rem;

  &__header {
    @include divider-bottom-bleak;
    @include flex-column;
    @include text-large;
    
    gap: .25rem;

    font-weight: $fw-semi-bold;
    padding-bottom: 1rem;

    &__email {
      @include text-xs;

      font-weight: $fw-regular;
      color: $primary-ds-500;
    }
  }

  &__common-buttons {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    padding-top: 1rem;

    &--bleak {
      .v-icon {
        color: $primary-ds-200;
      }
    }
  }

  &__common-buttons:not(:last-child) {
    @include divider-bottom-bleak;

    padding-bottom: 1rem;
  }
}

.button-content-bleak {
  color: $primary-ds-300 !important;
}