.date-picker-popup {
  @include flex-column;

  height: auto;
  gap: .5rem;

  >div {
    background: $primary-ds-50;
  }

  &__header {
    @include text-medium;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
  }

  &__change-month {
    cursor: pointer;
    height: 2rem;
    aspect-ratio: 1;

    color: $primary-s-600;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1em;

    &--disabled, :disabled {
      cursor: default;
      color: $primary-ds-100 !important;
    }
  }

  &__days {
    font-size: $fs-medium;
    line-height: $lh-small;
    border-spacing: 30px;

    th {
      height: 2rem;
      text-align: center;
      vertical-align: middle;
      color: $primary-ds-600;
      font-size: .85em;
    }
    
    td {
      height: 2rem;
      margin: 0 .5rem;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;

      .date-picker-popup__day {
        height: 2rem;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-align: center;
        margin: 0 .25rem;
        border: 2px solid transparent;

        transition-property: background-color, border-color;
        transition-duration: 200ms;

        &:not(:is(&--disabled, &--selected, &--today)) {
          &:hover {
            background-color: $primary-s-50;
          }

          &:focus {
            outline: 1px solid $primary-s-200;
          }
        }

        &--other-month {
          color: $primary-s-200;
        }

        &--selected {
          background: $primary-s-400;
          color: $black-10;
        }

        &--today {
          border: 2px solid $accent-300;
        }

        &--disabled {
          color: $primary-ds-100;
          cursor: default;
        }
      }
    }
  }
}