$black-10: hsl(231, 100, 99);
$black-40: hsl(231, 14, 97);
$black-100: hsl(231, 8, 90);
$black-500: hsl(231, 4, 53);

$primary-s-50: hsl(231, 55, 96);
$primary-s-100: hsl(231, 49, 80);
$primary-s-200: hsl(231, 48, 73);
$primary-s-300: hsl(231, 45, 66);
$primary-s-400: hsl(231, 39, 59);
$primary-s-500: hsl(231, 34, 52);
$primary-s-600: hsl(231, 35, 44);
$primary-s-700: hsl(231, 38, 37);

$primary-ds-50: hsl(231, 33, 97);
$primary-ds-100: hsl(231, 20, 87);
$primary-ds-200: hsl(231, 29, 80);
$primary-ds-300: hsl(231, 31, 73);
$primary-ds-400: hsl(231, 28, 65);
$primary-ds-500: hsl(231, 25, 57);
$primary-ds-600: hsl(231, 22, 49);
$primary-ds-700: hsl(231, 24, 41);
$primary-ds-800: hsl(231, 26, 33);
$primary-ds-900: hsl(231, 27, 24);

$accent-300: hsl(46, 92, 74);
$accent-500: hsl(46, 85, 62);
$accent-900: hsl(46, 96, 44);

$green-900: hsl(115, 96, 35);

$red-900: hsl(10, 96, 35);

$match-card-bg: rgba($primary-s-500, .03);

$overlay-white-40: rgba(255, 255, 255, .04);
$overlay-white-80: rgba(255, 255, 255, .08);