@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin clickable-icon {
  padding: .5rem;
  cursor: pointer;
}

@mixin no-tap-highlight {
  -webkit-tap-highlight-color: transparent; /* For WebKit-based browsers */
  tap-highlight-color: transparent;
}

@mixin divider-bottom {
  border-bottom: 1px solid $primary-ds-100;
}

@mixin divider-top {
  border-top: 1px solid $primary-ds-100;
}

@mixin divider-bottom-bleak {
  border-bottom: 1px solid $primary-s-50;
}

@mixin divider-bottom-dark {
  border-bottom: 1px solid $primary-ds-600;
}

@mixin divider-top-bleak {
  border-top: 1px solid $primary-s-50;
}