$font-primary: "Manrope", sans-serif;
$font-display: "Montserrat", sans-serif;
$font-logo: "Pacifico", serif;

$font-size-xxxs: .625rem;
$font-size-xxs: .75rem;
$font-size-xs: .875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-h4: 1.5rem;
$font-size-h3: 1.75rem;
$font-size-h2: 2.25rem;

$lh-small: 1rem;
$lh-medium: 1.5rem;
$lh-large: 1.75rem;
$lh-h2: 3rem;