.fluid {
  width: 100% !important;
  flex: 1;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.centered-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: min-content;
  align-self: center;

  padding: 0 1rem;
}

.scroll-lock {
  overflow: hidden;
}

.ghost-input {
  position: absolute;
  visibility: hidden;
}

.error-message {
  @include text-xxs;
  
  color: $red-600;
  font-weight: $fw-medium;
}

.text-ds-300 {
  color: $primary-ds-300;
}

.text-ds-400 {
  color: $primary-ds-400;
}

.text-highlight {
  color: $accent-500;
}

.text-center {
  text-align: center;
}

.text-display {
  text-align: $ff-display;
}

.text-semi-bold {
  font-weight: $fw-semi-bold;
}

.text-bold {
  font-weight: $fw-bold;
}

.text-body {
  line-height: $lh-body;
}

.text-large {
  @include text-large;
}

.h1 {
  @include text-h1;
}

.h2 {
  @include text-h2;
}

.h3 {
  @include text-h3;
}

.h4 {
  @include text-h4;
}

.text-ds-700 {
  color: $primary-ds-700;
}

.header-common {
  @extend .text-bold;
  @extend .text-ds-700;
}

.link-text {
  color: $primary-s-600;

  &:is(a), a {
    @extend .text-semi-bold;
    cursor: pointer;

    &:hover {
      color: $primary-s-500;
    }
  }
}

.label {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-y: visible;
  text-overflow: ellipsis;

  font-weight: $fw-semi-bold;
  color: $primary-ds-700;
  font-size: 1em;
  line-height: $lh-small;

  flex: 1;

  cursor: default;
}

.mobile:not(.desktop) {
  display: none;
}

@media (max-width: $mobile-breakpoint) {
  .desktop:not(.mobile) {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }
}