@import "typography";
@import "colors";
@import "mixins";

$desktop-breakpoint: 90em;
$tablet-breakpoint: 48em;
$mobile-breakpoint: 39em;

$container-horizontal-padding-desktop: 64px;
$container-horizontal-padding-tablet: 32px;
$container-horizontal-padding-mobile: 16px;

$navbar-height: 80px;

$match-card-coeff-width: clamp(5rem, 4vw, 6rem);

$border-radius-small: 3px;
$border-radius-medium: 6px;
$border-radius-large: 12px;
  