.form-block {
  padding: 1.5rem;
  
  min-width: 18rem;
  width: fit-content;
  max-width: 100%;

  border: 1px solid $primary-ds-100;
  border-radius: $border-radius-large;

  &__header {
    @include divider-bottom-bleak;
    @include flex-column;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}