@import 'variables';

:root {
  --container-padding-block: 2rem;
}

* {
  -webkit-tap-highlight-color: rgba($primary-s-300, .1); /* For WebKit-based browsers */
  tap-highlight-color: rgba($primary-s-300, .1); /* For other browsers */
}

html {
  font-size: $fs-medium;
  line-height: $lh-medium;
  scroll-behavior: smooth;
}

body {
    font-family: $ff-primary;
    background-color: $black-10;
    overflow-x: hidden;
    color: $primary-ds-800;
}

h1 {
  font-size: $fs-h1;
  line-height: $lh-h1;
  font-weight: $fw-bold;

  color: $primary-ds-700;
}

h2 {
  font-size: $fs-h2;
  line-height: $lh-h2;
  font-weight: $fw-bold;
}

h3 {
  font-size: $fs-h3;
  line-height: $lh-h3;
  font-weight: $fw-semi-bold;
}

h4 {
  font-size: $fs-h4;
  line-height: $lh-h4;
  font-weight: $fw-bold;

  color: $primary-ds-700;
}

h5 {
  font-size: $fs-large;
  line-height: $lh-large;
  font-weight: $fw-bold;
}

p {
  font-size: $fs-large;
  font-weight: $fw-regular;

  line-height: $lh-large;

  &.body-text {
    line-height: $lh-body;
  }
}

a>button {
  width: 100%;
}

b {
  font-weight: $fw-semi-bold;
}

img {
  display: block;
  align-self: center;
}

.fluid {
  width: 100% !important;
  flex: 1;
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
  line-height: inherit
}

.container {
  flex: 1;

  width: 100%;
  min-height: 0;
  max-width: $desktop-breakpoint;
  margin: 0 auto;
  padding: 0 $container-horizontal-padding-desktop;

  position: relative;

  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.centered-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: min-content;
  align-self: center;

  padding: 0 1rem;
}

.ghost-input {
  position: absolute;
  visibility: hidden;
}

.error-message {
  font-size: $fs-xxs;
  line-height: $lh-small;
  color: $red-600;
  font-weight: $fw-medium;
}

.text-bleak {
  color: $primary-ds-400;
}

.mobile:not(.desktop) {
  display: none;
}

@media (max-width: $tablet-breakpoint) {
  .container {
      padding: 0 $container-horizontal-padding-tablet;
  }
}

@media (max-width: $mobile-breakpoint) {
  .container {
      padding: 0;
  }

  .container.responsive {
    padding: 0 1rem;
}

  .desktop:not(.mobile) {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }
}

.text-highlight {
  color: $accent-500;
}

// scroll bar ------

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $primary-ds-100 transparent;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: .25rem;
}

*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: $primary-ds-100;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $primary-s-100;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $primary-s-100;
}