.documentation-article {
  max-width: 52rem;

  display: grid;

  &__title {
    @include divider-bottom;

    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: $fs-large;
    line-height: $lh-body;

    padding-bottom: 2rem;
  }
}