.documentation-article-preview {
  max-width: 40rem;
  padding-block: 2rem;

  display: grid;
  gap: 1rem;

  &__title {
    .v-icon {
      display: inline-block;
      margin-left: .5rem;

      font-size: .85em;
      vertical-align: baseline;
      color: $primary-s-200;
      opacity: 0;
      
      transition: opacity 200ms;
    }

    &:hover {
      .v-icon {
        opacity: 100%;
      }
    }
  }

  p {
    padding-left: 1rem;
    border-left: 3px solid $primary-s-400;

    font-size: $fs-medium;
    line-height: $lh-body;
  }

  & + .documentation-article-preview {
    @include divider-top;
  }
}