.documentation-article {
  max-width: 52rem;

  display: grid;
  gap: .5rem;

  h2 {
    @include divider-bottom;

    padding-bottom: 1rem;
    margin-bottom: 1rem;

    color: $primary-s-700;
    font-weight: $fw-semi-bold;
  }

  p {
    font-size: $fs-large;
    line-height: $lh-body;
  }
}